.tour{
  padding-top:131px;

}
.tour__cards {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 0 61px;
    margin-bottom:100px;
    align-items: center;
  }
.tour__card-pic{
    max-width: 597px;
    max-height: 354px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tour__card-thumb{
  width:100%;
  height: auto;
}
.tour__caption{
  padding-left: 47px;
}
.tour__title {
    max-width: 619px;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color:#102746;
    margin-bottom: 85px;
  }
  
  .tour__subtitle {
    font-size: 16px;
    line-height: 24px;
    color:#102746;
    max-width: 546px;
    margin-bottom: 59px;
  }
  
  .tour__card-more {
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url(/public/img/svg/arrow-right.svg) no-repeat 95% center;
    transition: all 0.2s;
  }
  
  .tour__card-more:hover, .tour__card-morefocus {
    background: url(/public/img/svg/arrow-right.svg) no-repeat right center;
  }

  @media (max-width:800px){
  .tour__caption{
    padding-left: 0px
  }
  .tour__title{
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 20%;
    text-align: center;

  }
  .tour__subtitle{
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20%;
    text-align: center;
  }
  
  .tour__card-more {
  display: flex;
  justify-content: center;
  max-width: 218px;
  margin: 0 auto;
  padding-right: 0px;
  margin-bottom: 20%;
  font-size: 12px;
  line-height: 20px;
  background:none
  }

  .tour__card-more:hover, .tour__card-morefocus {
    background: none
  }

  .tour__card-pic{
    max-height: 70%;
}

.tour__cards {
  gap: 0 7%;
  margin-bottom: 0px;
}

.tour{
  padding-top:25%;

}

}